{% set label_dict = h.composite_get_label_dict(field.subfields) %}
{% set name_list = h.composite_get_name_list(field.subfields) %}
{% set composite_dict_list = h.composite_repeating_get_value_dict_list(field.field_name, field.subfields, data, field.form_blanks, false) %}

<ul class="cnra-composite-repeating-ul">
  {% for composite_dict in composite_dict_list %}
    <li>
      {% for key in name_list %}
        {% if composite_dict[key]|length > 0 %}
            {% set value = composite_dict[key] %}
          <b>{{ label_dict[key] }}:</b>
          {% set first_key_written = true %}
          {{ value }}
        {% endif %}
      {% endfor %}
    </li>
    <br>
  {% endfor %}
</ul>