{%- if data['spatial_details'] -%}
    <script type="text/javascript" src="https://greeninfo-network.github.io/cnra-gazetteer/api/api.js"></script>
    <link rel="stylesheet" type="text/css" href="https://greeninfo-network.github.io/cnra-gazetteer/api/api.css" />
    <script type="text/javascript">
    window.addEventListener("load", function() {
        var spatialdata = {{ h.confirmjson(data['spatial_details']) }};
        if (! spatialdata) return;

        new CNRA.GazetteerWidget('gazetteer-{{ field.field_name }}', {
            displayOnly: true,
            geocoderControl: false,
            basemapControl: false,
            showBoundingBox: true,
            minZoom: 4,
            onLoad: function () {
                this.loadGeoJsonObject(spatialdata);
            }
        });
    });
    </script>
    <div id="gazetteer-{{ field.field_name }}" style="background-color: #ffffff; border: 1px solid #cccccc; box-shadow: inset 0 1px 1px rgba(0,0,0,0.075); border-radius: 3px;"></div>
{%- else -%}
    Not specified.
{%- endif -%}
