<div class="control-group control-full">
    <label class="control-label" for="field-{{ field.field_name }}">{{ field.label }}</label>
    <div class="controls editor">
        <script type="text/javascript" src="https://greeninfo-network.github.io/cnra-gazetteer/api/api.js"></script>
        <link rel="stylesheet" type="text/css" href="https://greeninfo-network.github.io/cnra-gazetteer/api/api.css" />
        <script type="text/javascript">
            window.addEventListener("load", function() {
                // specific to CNRA's usage: specify the names of input fields and custom fields
                // which will be filled in with the full GeoJSON and/or just the bounds
                var load_geojson_field = '{{ field.load_geojson_field }}';
                var geojson_field = '{{ field.geojson_field }}';
                var extent_field = '{{ field.extent_field }}';
                var geojson_custom_field = '{{ field.geojson_custom_field }}';
                var extent_custom_field = '{{ field.extent_custom_field }}';

                // for CNRA specifically, when filling in the bounds into a field, they want GeoJSON feature.geometry format
                // so here's a helper function
                var bounds2shape = function (bounds) {
                    return {
                        type: "Polygon",
                        coordinates: [[
                            [ bounds.w, bounds.s ],
                            [ bounds.w, bounds.n ],
                            [ bounds.e, bounds.n ],
                            [ bounds.e, bounds.s ],
                            [ bounds.w, bounds.s ]
                        ]],
                    };
                };

                var gazwidget_{{ field.field_name }} = new CNRA.GazetteerWidget('gazetteer-{{ field.field_name }}', {
                    showBoundingBox: true,
                    selectedTool: 'box',
                    onLoad: function () {
                        // on load, look for the load_geojson_field field and try to load its content as a GeoJSON string
                        // it may be invalid or blank; try to be graceful about that
                        var jsonfieldid = 'field-' + load_geojson_field;
                        var jsonfield = document.getElementById(jsonfieldid);
                        if (! jsonfield) console.error("GazetteerWidget could not find find load_geojson_field with id " + load_geojson_field);

                        var jsontext = jsonfield.value.trim();
                        if (! jsontext) return;

                        try {
                            this.loadGeoJsonString(jsontext);
                        } catch (e) {
                            console.error("GazetteerWidget could not load GeoJSON content. Invalid?");
                            alert("Found existing Spatial Coverage details but could not read it into the map.");
                        }
                    },
                    onChange: function (bboxinfo) {
                        // find the input fields and/or custom fields
                        // where we should set a value of the whole GeoJSON bboxinfo and/or just the bounds
                        // e.g. so the drawn shapes and box are saved to their intended form fields or custom fields


                        var update_or_create_custom_field = function (fieldname, value) {
console.error([ 'update_or_create_custom_field', fieldname, value ]);
//TODO must handle the condition of no custom fields being available: all 3 of 3 currently in use
                        };

                        if (geojson_field) {
                            var jsonfieldid = 'field-' + geojson_field;
                            var jsonfield = document.getElementById(jsonfieldid);
                            if (! jsonfield) console.error("GazetteerWidget could not find geojson_field with id " + jsonfieldid);
                            else {
                                jsonfield.value = bboxinfo ? JSON.stringify(bboxinfo) : '';
                            }
                        }
                        if (extent_field) {
                            var bboxfieldid = 'field-' + extent_field;
                            var bboxfield = document.getElementById(bboxfieldid);
                            if (! bboxfield) console.error("GazetteerWidget could not find extent_field with id " + bboxfieldid);
                            else {
                                bboxfield.value = bboxinfo ? JSON.stringify(bounds2shape(bboxinfo.bounds)) : '';
                            }
                        }

                        if (geojson_custom_field) {
console.error(geojson_custom_field);
                        }
                        if (extent_custom_field) {
console.error(extent_custom_field);
                        }
                    }
                });
            });
        </script>
        <div id="gazetteer-{{ field.field_name }}" style="background-color: #ffffff; border: 1px solid #cccccc; box-shadow: inset 0 1px 1px rgba(0,0,0,0.075); border-radius: 3px;"></div>
    </div>
</div>
